body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.form{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.form > *{
    margin: 0.4em 1em;
}
input{
    padding: 0.5em ;
}

#check-btn{
    margin: 0.5em 1em;
    background-color: tomato;
    border-style: none;
    padding: 0.5em ;
    color: white;
}

#message {
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
    background-color: rgb(44, 43, 43);
    padding: 1em 1em;
    font-weight: 600;
    display: none;
}

#notice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px dashed darkblue;
    width: 20vw;
    background-color:whitesmoke;
    margin-top: 1em;

}

#x-btn{
    background-color: rgb(244, 30, 30);
    color: whitesmoke;
    cursor: pointer;
}